<div
  class="relative grid px-4 py-8 m-0 overflow-hidden text-center text-white bg-gray-900 place-items-center rounded-xl bg-clip-border shadow-gray-900/20"
>
  <h5 class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-white">
    <%= @title %>
  </h5>
</div>
