<div class="relative mx-auto flex flex-col overflow-hidden text-gray-700 bg-white rounded-md shadow-md w-96 bg-clip-border">
  <%= render Url::HeaderComponent.new(title: @title) %>
  <nav class="my-2 flex min-w-[240px] flex-col gap-1 p-0 font-sans text-base font-normal text-blue-gray-700">
    <%= content %>
  </nav>
</div>
